.navBtn {
    padding: 0.2rem 0.3rem;
    border-radius: 0.3rem;
    box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
    transition: 0.5s;
  
    &:hover {
      transform: translate(0, -3px);
      box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
    }
  
    &:first-child {  
      margin-right: 1.5rem;
    }
  }
  