$card-background-color:#FAFAFA;
$btn-border-color:#F1CDB3;
$logocolor: #f1cdb3;
$white-textcolor:#FFFFFF;
$nav-link-color: #CDCDCD;
$btn-dark-rextcolor:#292929;
$section-heading-textcolor:#545454;
$text-description-darkcolor:#4C4C4C;
$backfround-color-our-friends:#F6F6F6;
$text-italic-inadditional:#B2B2B2;