@import './var';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    background-color: $level_bg;
  }
  .row{
    margin-bottom: 0;
  }
h3{
  margin: 0;
}
body{
  overflow-y: hidden;
}