@import './var';
.level-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $level_bg;
    height: 100vh;
}
.heading{
    margin-right: 16px;
    color: $heading_color;
    font-size: 2.8rem;
    font-family: Consolas;
    }
.editor{
    display: flex;
}