@import './var';
.level-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $level_bg;
    height: 100vh;
}
.heading{
color: $heading_color;
font-size: 48px;
font-family: Consolas;
text-align: center;
}