@import './var';

.table{
    display: inline-flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 17px 20px 27px 20px;
    border-radius: 10px;
    gap: 19px;
background: linear-gradient(180deg, #FFE074 0%, #F48926 66.15%);
box-shadow: 0px 40px 10px 0px rgba(0, 0, 0, 0.20);
}
.plate{
    width: 90.77px;
height: 90.953px;
background-image: url('../assets/plate.svg');
        background-size: cover;
}
.plate-blue{
    width: 95px;
height: 90.953px;
background-image: url('../assets/plate-blue.svg');
        background-size: cover;
}
.bento{
    width: 105px;
    height: 90px;
background-image: url('../assets/bento.svg');
background-size: cover;
}
.plate-shawarma{
    width: 105px;
    height: 90px;
background-image: url('../assets/plate-shawarma.png');
background-size: cover;
}
.shawarma{
    width: 105px;
    height: 90px;
background-image: url('../assets/shawarma.png');
background-size: cover;
}
.chicken{
    width: 105px;
    height: 90px;
background-image: url('../assets/chicken.png');
background-size: cover;
}
.plate-chicken{
    width: 105px;
    height: 90px;
background-image: url('../assets/plate-chicken.png');
background-size: cover;
}
.bento-burger{
    width: 105px;
    height: 90px;
background-image: url('../assets/bento-burger.png');
background-size: cover;
}


.btn-floating{
    background-color: rgba(0,0,0,0.1);
    &:hover{
        background-color: rgba(0,0,0,0.3);
    }
}
.radius{
    border-radius: 10%;
}
.level-info{
color: $level-info_color;
font-size: 25px;
font-family: Exo;
font-weight: 600;
}
