$card-background-color:#FAFAFA;
$btn-border-color:#F1CDB3;
$logocolor: #f1cdb3;
$white-textcolor:#FFFFFF;
$nav-link-color: #CDCDCD;
$btn-dark-rextcolor:#292929;

%align-items-for-column{
    align-items: center;
}