@import "_variables.scss";
@import "../../../assets/styles/fonts.scss";

.card{
    display: flex;
    flex-direction: column;
    @extend %align-items-for-column;
    justify-content: space-around;
    background-color: $card-background-color;
    width: 270px;
    height: 435px;

    &__name{
        font-size:30px;
    }

 }
