@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/Georgia-Bold.woff2") format("woff2"), url("../../../assets/fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/Georgia-BoldItalic.woff2") format("woff2"), url("../../../assets/fonts/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/Georgia.woff2") format("woff2"), url("../../../assets/fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/Georgia-Italic.woff2") format("woff2"), url("../../../assets/fonts/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/Arial-ItalicMT.woff2") format("woff2"), url("../../../assets/fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/ArialMT.woff2") format("woff2"), url("../../../assets/fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/Arial-BoldMT.woff2") format("woff2"), url("../../../assets/fonts/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.our-friends {
  background-color: #F6F6F6;
  padding-bottom: 100px;
}
.our-friends__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.our-friends__nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  align-self: center;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: #F6F6F6;
}
.our-friends__nav-btn__left {
  margin-right: 53px;
}
.our-friends__nav-btn__right {
  margin-left: 53px;
}
.our-friends__nav-btn-mob {
  display: none;
}
.our-friends__btn {
  display: block;
  margin: 0 auto;
  padding: 15px 42px;
  width: 261px;
  background: #F1CDB3;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carusel {
  display: flex;
  position: relative;
  left: -990px;
}
.carusel__wrapper {
  display: flex;
  max-width: 990px;
  overflow: hidden;
  flex-shrink: 0;
}
.carusel__left-block {
  display: flex;
  gap: 90px;
}
.carusel__center-block {
  display: flex;
  gap: 90px;
}
.carusel__right-block {
  display: flex;
  gap: 90px;
}

@keyframes move-right {
  from {
    left: -990px;
  }
  to {
    left: -1980px;
  }
}
.transition-right {
  animation-name: move-right;
  animation-duration: 5000ms;
}

@keyframes move-left {
  from {
    left: -990px;
  }
  to {
    left: 0;
  }
}
.transition-left {
  animation-name: move-left;
  animation-duration: 5000ms;
}

@media only screen and (max-width: 1217px) {
  .carusel {
    left: -620px;
    gap: 40px;
  }
  .carusel__wrapper {
    max-width: 580px;
  }
  .carusel__left-block {
    gap: 40px;
  }
  .carusel__center-block {
    gap: 40px;
  }
  .carusel__right-block {
    gap: 40px;
  }
  .our-friends__nav-btn__left {
    margin-right: 12px;
  }
  .our-friends__nav-btn__right {
    margin-left: 12px;
  }
  @keyframes move-left-768px {
    from {
      left: -620px;
    }
    to {
      left: 0;
    }
  }
  .transition-left {
    animation-name: move-left-768px;
    animation-duration: 5000ms;
  }
  @keyframes move-right-768px {
    from {
      left: -620px;
    }
    to {
      left: -1240px;
    }
  }
  .transition-right {
    animation-name: move-right-768px;
    animation-duration: 5000ms;
  }
}
@media only screen and (max-width: 732px) {
  .our-friends {
    padding-bottom: 42px;
  }
  .carusel {
    left: -290px;
    gap: 20px;
  }
  .carusel__wrapper {
    max-width: 270px;
  }
  .carusel__left-block {
    gap: 20px;
  }
  .carusel__center-block {
    gap: 20px;
  }
  .carusel__right-block {
    gap: 20px;
  }
  .our-friends__nav-btn-mob {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
    margin-bottom: 42px;
  }
  .our-friends__nav-btn--disable {
    display: none;
  }
  .our-friends__info {
    margin-bottom: 20px;
  }
  @keyframes move-left-320px {
    from {
      left: -290px;
    }
    to {
      left: 0;
    }
  }
  .transition-left {
    animation-name: move-left-320px;
    animation-duration: 5000ms;
  }
  @keyframes move-right-320px {
    from {
      left: -290px;
    }
    to {
      left: -580px;
    }
  }
  .transition-right {
    animation-name: move-right-320px;
    animation-duration: 5000ms;
  }
  .wrapper {
    flex-direction: column;
  }
}/*# sourceMappingURL=carusel.css.map */