@import "_variables.scss";
@import "../../../assets/styles/fonts.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: "georgiaregular", "georgiabold_italic", "Arial", Times, serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
  }

}

.nav {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }
}

.logo {
  &__heading {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: $logocolor;
  }
}