@media only screen and (max-width: 1050px) and (min-width: 930px) {
    .not-only {
        padding-top: 0;

        &__info {
            padding-bottom: 160px;
        }
    }

    .about {
        &__container {

            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            ;
            padding: 93px 190px 83px 175px;
        }
    }
}

@media only screen and (max-width: 1050px) {
    .about {
        &__container {

            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            ;
            padding: 74px 164px 103px 165px;
        }

        &__image {
            grid-row: 2/span 1;
            display: flex;
            justify-content: center;
            margin-top: 25px;
        }
    }


    .our-friends {
       
        &__card:nth-child(4) {
            display: none;
        }
    }

    .footer {
        padding-top: 15px;

        &__container {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 0;
            padding-left: 60px;
            padding-right: 40px;
        }

        &__img {
            grid-column: 2/ span 2;
            grid-row: 2/ span 1;
        }

        &__contact-box {

            &:nth-child(1) {
                grid-column: 1/ span 2;
            }

            &:nth-child(2) {
                grid-column: 3/ span 2;
            }
        }
    }

    .contact-box {
        &__heading {
            padding-right: 30px;
        }
    }
}


@media only screen and (max-width: 929px) {

    .not-only {
        margin-top: 0;
        padding-top: 152px;

        &__info {
            padding-left: 124px;
            padding-right: 70px;
            padding-bottom: 0;
            padding-top: 0;
            grid-column: 1/span 5;

        }

        &__description {
            padding-right: 50px;
        }

        &__heading {
            padding-right: 200px;
        }

        &__container {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto;
        }

        &__image {
            grid-column: 1 / span 5;
            grid-row: 2 / span 1;
            padding-left: 140px;
            padding-right: 0;
            padding-top: 75px;

        }

        &__btn {
            margin-left: 126px;
        }
    }

    .help {
        &__item {
            flex: 1 0 33.3%;

        }
    }

    .in-addition {
        &__container {
            padding-left: 131px;
            padding-right: 132px;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
        }

        &__info {
            padding-left: 62px;
            padding-right: 62px;
            grid-row: 1/span 1;
            grid-column: 1/span 1;
        }

        &__image {
            grid-row: 2/span 1;
            grid-column: 1/span 1;
            margin-top: 35px;
        }
    }

}