@media only screen and (max-width: 767px) {

    .nav {
        &__list {
            display: none;
        }

        &__burger {
            display: block;
            position: relative;
            z-index: 11;
            transition: transform 400ms ease;
            cursor: pointer;

            &--active {
                display: block;
                position: fixed;
                z-index: 11;
                top: 47.5672px;
                right: 20px;
             
                transform: rotate(90deg);
            }
        }

    }
    .screen{
        display: block;
    }

}

@media only screen and (max-width: 732px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section__heading {
        font-size: 25px;
        text-align: center;
        padding-right: 0;
        padding-right: 0;
    }


    .not-only {
        padding-top: 149px;

        padding-left: 0;
        padding-right: 0;

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            padding-right: 0;
        }

        &__description {
            text-align: center;
            padding-right: 0;
            margin-bottom: 14px;
        }

        &__heading {
            font-size: 25px;
            padding-right: 0;
            text-align: center;
        }

        &__btn {
            margin-left: 0;
        }

        &__image {
            padding-left: 0;
            padding-top: 69px;
        }
    }

    .about {
        &__container {
            padding-top: 40px;
            padding-bottom: 42.4px;
            grid-template-rows: 1fr 353.5px;
        }

        &__image {
            max-height: 353.5px;
            margin-top: 42px;

            img {
                object-fit: contain;
                height: 100%;
            }
        }
    }

    .our-friends {
        &__container {

            padding-top: 80.6px;
            padding-bottom: 42px;

        }

        &__heading {
            margin-bottom: 42px;
            font-size: 24.5px;
            ;
        }

        &__card:nth-child(3) {
            display: none;
        }

        &__nav-btn-mob {
            display: flex;
            justify-content: center;
            gap: 80px;
            margin-top: 20px;
        }

        &__nav-btn--disable {
            display: none;
        }

        &__info {
            flex-direction: column;
            align-items: center;
            margin-bottom: 43px;

        }
    }

    .help {
        &__container {
            padding-top: 38px;
            padding-bottom: 20px;
        }

        &__heading__ {
            margin-bottom: 45px;
        }

        &__item {
            flex: 1 0 50%;
            padding-bottom: 15px;

            &:last-child {
                flex-grow: 0;
            }

        }

        &__title {
            font-size: 15px;
        }

        &__image {
            background-size: cover;
            height: 50px;
            width: 50px;
        }
    }

    .in-addition {
        &__container {
            padding-top: 42px;
            padding-bottom: 39px;
        }

        &__heading {
            padding-right: 30px;
            padding-left: 30px;
        }

        &__description {
            margin-bottom: 26px;
            font-size: 13px;
        }

        &__check-num {
            font-size: 15px;

        }

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            padding-right: 0;
        }

        &__link {
            max-width: 349px;
        }

        &__check {
            max-width: 349px;
            width: auto;
        }

        &__image {
            margin-top: 15px;
        }
    }

    .footer {

        &__container {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        &__tel {
            margin-top: 30px;
        }

        &__contact-box {

            padding-left: 0;
            padding-right: 0;

            a {
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }

            &:nth-child(1) {
                grid-row: 1/span 1;
                grid-column: auto;
                padding-bottom: 23px;

            }

            &:nth-child(2) {
                .section__heading {
                    padding-right: 10px;
                }

                grid-row: 2/span 1;
                grid-column: auto;

                a {
                    margin-top: 18px;

                }
            }
        }

        &__img {
            grid-column: auto;
            grid-row: 3/span 1;
            padding-left: 0;
            padding-right: 0;
            margin: 0 auto;
        }
    }
}