$bgLight: #ECFDE3;
$headerLight: #3E622A;
$infoLight: #8CE85A;
$infoWindowDark: #8CE85A;
$infoWindowLight: #D3FFBC;

$bgDark: #3E622A;
$headerDark: #000000;
$infoDark: #264316;

$darkFontColor: #AD00FF;
$mediumFontColor: #D4C0FF;
$lightFontColor: #ECE3FF;

