@import "_var.scss";

* {
    box-sizing: border-box;
    margin: 0;
  }
  
  html {
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: 400;
    scroll-behavior: smooth;
  }
  
  
  a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  button {
    cursor: pointer;
  }
  
  p, h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  img {
    max-width: 100%;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .container {
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
   
  }
  