@import "_var.scss";

.game {
    &__field {
        margin-top: 4px;
    }
}

.field {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    max-width: 406px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 37px;
        background-image: url('../assets/item-close.svg');
        background-repeat: no-repeat;
        background-size: contain;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: $darkFontColor;
        user-select: none;
        cursor: pointer;
        &--disable{
            pointer-events: none;
        }
        &_withFlag {
            cursor: pointer;
            background-image: url('../assets/flag.svg');
            background-repeat: no-repeat;
            background-size: contain;

        }


        &_open {
            cursor: pointer;
            background-image: url('../assets/item-open.svg');
            background-repeat: no-repeat;
            background-size: contain;
            pointer-events: none;

        }
    }

    &__mines {
        background-image: url('../assets/mine.svg');
        background-repeat: no-repeat;
        background-size: contain;
        pointer-events: none;
    }

    &__explosion {
        background-image: url('../assets/explosion.svg');
        background-repeat: no-repeat;
        background-size: contain;
        pointer-events: none;
    }

    &--hover-act-disable {
        pointer-events: none;
    }
}
@media only screen and (min-width: 768px){
    .field {
    
        &__item {
         
            &:hover {
                cursor: pointer;
                background-image: url('../assets/item-hover.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
    
            &_withFlag {
                cursor: pointer;
             
                // pointer-events: none;
                &:hover {
                    background-image: url('../assets/flagHover.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
    
                }
            }
        }
    }
    }
@media only screen and (max-width: 767px) {
    .field {
        gap: 2.34px;
        max-width: 310px;
    

    &__item {
        width: 28.82px;
        height: 29.16px;
        // &:hover{
        //     pointer-events: none;
        //     background-image: url('../assets/item-close.svg');
        //     background-repeat: no-repeat;
        //     background-size: contain;
        // }
        // &_withFlag {

        //     // pointer-events: none;
        //     &:hover {
               
        //         background-image: url('../assets/flag.svg');
        //         background-repeat: no-repeat;
        //         background-size: contain;
        //     }
        // }
    }}
}

