@import "_var.scss";
.game {
    &__field {
        margin-top: 4px;
    }
}

.field {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    max-width: 406px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 37px;
        background-image: url('../assets/item-close.svg');
        background-repeat: no-repeat;
        background-size: contain;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: $darkFontColor;

        &:hover {
            cursor: pointer;
            background-image: url('../assets/item-hover.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &:active {
            cursor: pointer;
            background-image: url('../assets/item-open.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &_open {
            cursor: pointer;
            background-image: url('../assets/item-open.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__mines {
        background-image: url('../assets/mine.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
}