@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: 400;
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

p, h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.header {
  background-color: #3E622A;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 46px 73px;
  font-weight: 400;
  font-size: 25px;
}
.nav__item:not(:last-child) {
  margin-right: 54px;
  color: #ECE3FF;
}
.nav__item:first-child {
  margin-right: 246px;
}
.nav__item:nth-child(4) {
  margin-right: 166px;
  color: #AD00FF;
}
.nav__item:nth-child(3) {
  color: #D4C0FF;
}
.nav__item:last-child {
  color: #AD00FF;
}

.nav-mob__list {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: start;
  z-index: 10;
  width: 100%;
  height: 100vh;
  transform: translateX(-101%);
  transition: transform 400ms ease-in-out;
  background-color: #3E622A;
  font-weight: 400;
  font-size: 30px;
}
.nav-mob--active {
  transform: none;
}
.nav-mob__item {
  margin-bottom: 34px;
  color: #ECE3FF;
}
.nav-mob__item:first-child {
  margin-bottom: 100px;
}
.nav-mob__item:nth-child(4) {
  margin-bottom: 100px;
  color: #AD00FF;
}
.nav-mob__item:nth-child(3) {
  color: #D4C0FF;
}
.nav-mob__item:last-child {
  color: #AD00FF;
}
.nav-mob__burger {
  display: none;
}

.scroll-hidden {
  overflow: hidden;
}

body {
  background-color: #ECFDE3;
}

.main {
  background-color: #ECFDE3;
}

@media only screen and (max-width: 1200px) {
  .nav__item:not(:last-child) {
    margin-right: 34px;
    color: #ECE3FF;
  }
  .nav__item:first-child {
    margin-right: 100px;
  }
  .nav__item:nth-child(4) {
    margin-right: 80px;
    color: #AD00FF;
  }
}
@media only screen and (max-width: 767px) {
  .header .container {
    display: flex;
    justify-content: end;
    padding: 36px 0;
  }
  .nav-mob__list {
    display: flex;
    align-items: center;
  }
  .nav-mob__burger {
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }
  .nav__list {
    display: none;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
.game {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.game__info-panel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 46px;
  max-width: 406px;
  background-color: #8CE85A;
}
.game__window:nth-child(4) {
  height: 26px;
  width: 309px;
}
.game__window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 41px;
  background: #D3FFBC;
  box-shadow: inset 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: "Consolas";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #AD00FF;
}
.game__window_start {
  font-size: 18px;
}
.game__window_win {
  font-size: 11px;
}
.game__window_lost {
  font-size: 13px;
}
.game__window:not(:last-child) {
  margin-bottom: 17px;
}
.game__window:nth-child(2) {
  height: 66px;
}

.start {
  background-image: url("../assets/start.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.successfullClick {
  background-image: url("../assets/succses.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.gameOver {
  background-image: url("../assets/game-over.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.win {
  background-image: url("../assets/win.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

@media only screen and (max-width: 767px) {
  .game__info-panel {
    max-width: 310px;
    padding: 19px 28px;
  }
  .game__window_start {
    font-size: 14px;
  }
  .game__window_win {
    font-size: 9px;
  }
  .game__window_lost {
    font-size: 12px;
  }
}
.game__field {
  margin-top: 4px;
}

.field {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 406px;
}
.field__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  background-image: url("../assets/item-close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #AD00FF;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.field__item_withFlag {
  cursor: pointer;
  background-image: url("../assets/flag.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.field__item_open {
  cursor: pointer;
  background-image: url("../assets/item-open.svg");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
.field__mines {
  background-image: url("../assets/mine.svg");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
.field__explosion {
  background-image: url("../assets/explosion.svg");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
.field--hover-act-disable {
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .field__item:hover {
    cursor: pointer;
    background-image: url("../assets/item-hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .field__item_withFlag {
    cursor: pointer;
  }
  .field__item_withFlag:hover {
    background-image: url("../assets/flagHover.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media only screen and (max-width: 767px) {
  .field {
    gap: 2.34px;
    max-width: 310px;
  }
  .field__item {
    width: 28.82px;
    height: 29.16px;
  }
}/*# sourceMappingURL=styles.css.map */